<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sri.oasis.weather">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name="sri.oasis.weather.WeatherStreamApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_ws_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/ThemeOverlay.AppCompat">

        <activity
            android:name="sri.oasis.weather.MainActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDF5PusfVzC8YUZeQyQL4150fNdSI0W4Y8" />

        <activity
            android:name="sri.oasis.weather.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SearchActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="sri.oasis.weather.widgets.WeatherStreamAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="io.fabric.ApiKey"
                android:value="b21a0242ac188d5bf3669a09628781d547245dbe" />
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/weather_stream_widget" />
        </receiver>

        <service android:name="sri.oasis.weather.services.WeatherWidgetService" />

    </application>
</manifest>